html,body,h1,h2,h3,h4,h5,h6,p {
	font-family: "Vollkorn-Regular";
	/*font-style: italic;
	font-weight: bold;*/
	}
.navbar {
	font-size: 12px;
	letter-spacing: 4px;
	opacity: 0.9;
	}
#imgCV {
	float: right;
	width: auto;
	max-height: 52px;
	}
#imgHoobies {
	width: 40%;
	}
#imgProjet {
	width:100%;
	}
.list-group{
	height:295px; 
	}
.up-arrow{
	font-size:30px;
	}
/*CV*/
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-column-gap: 10px;
	text-align: center;
	}
.checked {
	color: orange;
	}
/*CV*/